project = "YOUR-GCP-PROJECT"
region = "YOUR-GCP-REGION"

environment_name = "YOUR-ENVIRONMENT-NAME"
hosted_zone = "foo-zone"
cluster_name = "bar-cluster"
network_name = "some-pcf-network"

service_account_key = <<SERVICE_ACCOUNT_KEY
"YOUR-SERVICE-ACCOUNT-KEY"
SERVICE_ACCOUNT_KEY

